body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #fff;
    margin-bottom: 75px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.search-field {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.park {
    width: 400px;
}

.location {
    width: 200px;
}

.favorites-btn {
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
}

.favorites-btn:hover {
    background: #ffc107;
    cursor: pointer;
}

.form-box {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.imagenPrincipal {
    height: 50%;
    width: 50%;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer {
    background-color: rgb(129, 102, 28);
    padding-top: 20px;
    padding-bottom: 60px;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 10px;
}